page-login {
    .flex{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left{
        background-color: #617e8c;
        height: 100vh;
    }
    
    .right{
        background-color: #dae3e8;
        height: 100vh;
    }

    .item ion-icon[item-left] + .item-inner, .item ion-icon[item-left] + .item-input {
        margin-left: 5px;
    }

    .item .checkbox{
        margin-right: 15px !important;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }

    /*.item ion-icon[item-left]{
        max-width: 24px;
        min-width: 24px;
        font-size: 30px;
    }*/
}
