page-order-modal {
    .white{
        color: white;
    }

    .avatar{
        border-radius: 50%;
        max-height: 100px;
        max-width: 100px;
        margin-left: 16px;
    }

    .thumbnail{
        width: 75px;
    }

    .right{
        text-align: right;
    }

}
